---
import PageLayout from "@layouts/PageLayout.astro";
import { SITE } from "@consts";
import MeteorShower from "@components/MeteorShower.astro";
import TwinklingStars from "@components/TwinklingStars.astro";
import Carousel from "@components/pricing_carousel.astro";
import TimeLine from "@components/pricing_timeline.astro";
import Accordion from "@components/Accordion.astro";
import TitleHeader from "@components/TitleHeader.astro";
import OpenPopup from "@components/StripePopup.astro";
import FancyDiv from "@components/FancyDiv.astro";
import BackgroundFX from "@components/page_effects/BackgroundFX.astro";
---

<PageLayout title="Pricing" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Meteors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <!-- <script is:inline defer src="/js/bg.js"></script> -->
  <BackgroundFX />

  <!-- HERO -->
  <section
    class="snap-center grid w-full h-[80vh] place-items-center relative text-center overflow-hidden transition-all"
  >
    <TitleHeader text="Cennik" sub="Usługi, Oferty itp." buttons={false} />
  </section>

  <!-- Popup manager -->
  <OpenPopup />

  <!-- Pricing - Web Design-->
  <div class="relative">
    <!-- <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16"> -->
    <!-- About Section -->
    <FancyDiv margin_bottom="50" isAnimated={true}>
      <section class="animate">
        <p>
          Podstawowe oferty / usługi. <br /> Pamiętaj że podane ceny są jedynie „szacowane/średnie”
          i mogą ulec zmianie po negocjacjach / po zrealizowaniu zamówienia (w zależności
          od rodzaju zamówienia).
        </p>
      </section>
    </FancyDiv>

    <FancyDiv margin_bottom="50" isAnimated={true}>
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p id="web" class="font-semibold text-black dark:text-white">
              Strony WWW
            </p>
          </div>
          <div class="space-y-4 transition-all duration-300 ease-in-out">
            <!-- Basic Plan -->
            <div class="animate">
              <div
                class="group h-auto p-4 gap-3 flex flex-col items-start border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out relative"
              >
                <div
                  class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white blend"
                >
                  <div class="flex flex-wrap items-center gap-2">
                    <div
                      class="text-sm capitalize px-3 py-1 rounded-full border border-black/15 dark:border-white/25"
                    >
                      ✏️ Web
                    </div>
                  </div>
                  <div
                    class="font-semibold mt-3 mb-3 text-black dark:text-white"
                  >
                    ✨ Starter
                  </div>
                  <div class="text-sm">
                    Prosta, oraz funkcjonalna strona internetowa oparta na
                    WordPressie, wyposażona we wszystkie niezbędne wtyczki i
                    funkcje. Zaprojektowana z dbałością o nowoczesny wygląd,
                    intuicyjną obsługę oraz niezawodne działanie, aby sprostać
                    wymaganiom użytkowników.

                    <div class="flex flex-col items-start mt-3 gap-1">
                      <div class="flex items-center gap-2">
                        <i class="ph ph-shopping-bag text-xl"></i>
                        <span>
                          <strong>WooCommerce</strong> ready
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <i class="ph ph-device-mobile text-xl"></i>
                        <span>
                          <strong>Mobile Friendly</strong>
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <i class="ph ph-person-arms-spread text-xl"></i>
                        <span>
                          <strong>Łatwe w użyciu</strong>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-stretch mt-4 mb-4">
                    <!-- Vertical line -->
                    <div
                      class="mr-3 rounded-full bg-black/15 dark:bg-white/20 w-1"
                    >
                    </div>

                    <!-- Content -->
                    <div class="font-semibold text-black dark:text-white">
                      <span class="text-2xl">800–1900 PLN / yr</span>
                      <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">
                        Breakdown:
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        150 PLN – Hosting i konfiguracja serwera
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        150–300 PLN – Aktualizacje, łatki bezpieczeństwa i
                        konserwacja
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        200–500 PLN – Dodatkowe funkcje i personalizacja
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        100–300 PLN – Optymalizacja wydajności / Lighthouse
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        100–200 PLN – Raporty miesięczne + wsparcie
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        100–450 PLN – Aktualizacje motywu, pluginów, SEO
                      </p>
                    </div>
                  </div>

                  <ul class="flex flex-wrap mt-2 gap-1">
                    <li
                      class="text-xs uppercase py-0.5 px-1 rounded bg-black/5 dark:bg-white/20 text-black/75 dark:text-white/75"
                    >
                      BASIC
                    </li>
                    <li
                      class="text-xs uppercase py-0.5 px-1 rounded bg-black/5 dark:bg-white/20 text-black/75 dark:text-white/75"
                    >
                      WORDPRESS
                    </li>
                  </ul>

                  <a
                    href="#"
                    onclick="openStripePopup('https://buy.stripe.com/6oUaEWa7abrm9GSdzBdAk00?locale=pl'); return false;"
                    class="group p-4 mt-5 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
                  >
                    <span
                      class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center transition-color duration-300"
                    >
                      Szybki Zakup
                    </span>
                  </a>
                </div>
              </div>
            </div>

            <!-- Standard Plan -->
            <div class="animate">
              <div
                class="shine group h-auto p-4 gap-3 flex flex-col items-start border rounded-lg hover:scale-105 hover:bg-yellow-400/5 hover:dark:bg-yellow-400/10 border-yellow-600/15 dark:border-yellow-400/20 transition-all duration-300 ease-in-out relative"
              >
                <div
                  class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white blend"
                >
                  <div class="flex flex-wrap items-center gap-2">
                    <div
                      class="text-sm capitalize px-3 py-1 rounded-full border border-black/15 dark:border-white/25"
                    >
                      ✏️ Web
                    </div>
                  </div>
                  <div
                    class="font-semibold mt-3 mb-3 text-black dark:text-white"
                  >
                    ✨ Strona Statyczna
                  </div>
                  <div class="text-sm">
                    Popularna opcja – statyczna strona internetowa, podobna do
                    mojej, zapewniająca niezawodne działanie. Integracja z
                    GitHubem, pełna automatyzacja i maksymalna prostota przy
                    zachowaniu pełnej funkcjonalności.

                    <div class="flex flex-col items-start mt-3 gap-1">
                      <div class="flex items-center gap-2">
                        <i class="ph ph-markdown-logo text-xl"></i>
                        <span>
                          System <strong>Markdown</strong>
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <i class="ph ph-speedometer text-xl"></i>
                        <span>
                          Powered by <strong>Astro.js</strong>
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <i class="ph ph-lightning text-xl"></i>
                        <span>
                          <strong>Szybka i Niezawodna</strong>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-stretch mt-4 mb-4">
                    <!-- Vertical line -->
                    <div
                      class="mr-3 rounded-full bg-black/15 dark:bg-white/20 w-1"
                    >
                    </div>

                    <!-- Content -->
                    <div class="font-semibold text-black dark:text-white">
                      <span class="text-2xl">2000–3700 PLN / yr</span>
                      <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">
                        Breakdown:
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        300 PLN – Hosting i konfiguracja serwera
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        400–800 PLN – Dodatkowe funkcje i integracje
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        300–600 PLN – Optymalizacja wydajności / Lighthouse
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        600–1100 PLN – Aktualizacje komponentów i zabezpieczenia
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        250–500 PLN – UI/UX audyty i redesign micro-interakcji
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        150–400 PLN – Raporty techniczne, analityka i wsparcie
                      </p>
                    </div>
                  </div>

                  <ul class="flex flex-wrap mt-2 gap-1">
                    <li
                      class="text-xs uppercase py-0.5 px-1 rounded bg-yellow-800/5 dark:bg-yellow-300/20 text-yellow-900/75 dark:text-yellow-200/75"
                    >
                      POPULARNE
                    </li>
                    <li
                      class="text-xs uppercase py-0.5 px-1 rounded bg-black/5 dark:bg-white/20 text-black/75 dark:text-white/75"
                    >
                      ASTRO
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Premium Plan -->
            <div class="animate">
              <div
                class="group h-[468px] p-4 content-center text-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out relative flex flex-col justify-center items-center"
              >
                <i class="ph ph-question-mark text-7xl"></i>
                <p class="text-sm">
                  Nie znalazłeś tego czego szukałeś?<br />
                  Skontaktuj się ze mną i opisz swoje zamówienie.<br />
                  Na pewno coś wymyślimy!
                </p>
              </div>
            </div>

            <!-- Fiverr -->
            <div class="animate">
              <a
                href="https://www.fiverr.com/niko_fx?source=gig_page"
                target="_blank"
                class="group p-4 gap-3 flex items-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
              >
                <span
                  class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center transition-color duration-300"
                >
                  Zobacz więcej ofert na Fiverr
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv margin_bottom="50" isAnimated={true}>
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p
              id="hosting_related"
              class="font-semibold text-black dark:text-white"
            >
              Konfiguracja i Zarządzanie Hostingiem
            </p>
          </div>
          <div class="space-y-4 transition-all duration-300 ease-in-out">
            <!-- Starter Plan -->
            <div
              class="gray-shine group h-auto p-4 gap-3 flex flex-col items-start border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out relative"
            >
              <div
                class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white blend"
              >
                <div class="flex flex-wrap items-center gap-2">
                  <div
                    class="text-sm capitalize px-3 py-1 rounded-full border border-black/15 dark:border-white/25"
                  >
                    ⌨️ Server Management
                  </div>
                </div>
                <div class="font-semibold mt-3 mb-3 text-black dark:text-white">
                  🗃️ Profesjonalna Opieka Serwera
                </div>
                <div class="text-sm">
                  Hosting, konfiguracja i bezpieczeństwo — bez kompromisów. <br
                  />
                  Perfekcyjnie dopasowane do Twoich potrzeb, z pełną dostępnością,
                  niezawodnością i bezpieczeństwem.

                  <div class="flex flex-col items-start mt-3 gap-1">
                    <div class="flex items-center gap-2">
                      <i class="ph ph-shield-check text-xl"></i>
                      <span>
                        <strong>Ultra Bezpieczny</strong>
                      </span>
                    </div>

                    <div class="flex items-center gap-2">
                      <i class="ph ph-seal-check text-xl"></i>
                      <span>
                        Zaufany <strong>Dostawca</strong>
                      </span>
                    </div>

                    <div class="flex items-center gap-2">
                      <i class="ph ph-arrows-clockwise text-xl"></i>
                      <span>
                        <strong>Zawsze Aktualny & Dostępny</strong>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="flex items-stretch mt-4 mb-4">
                  <!-- Vertical line -->
                  <div
                    class="mr-3 rounded-full bg-black/15 dark:bg-white/20 w-1"
                  >
                  </div>

                  <!-- Content -->
                  <div class="font-semibold text-black dark:text-white">
                    <span class="text-2xl">Do Uzgodnienia</span>
                    <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">
                      Breakdown:
                    </p>
                    <p class="text-xs text-gray-600 dark:text-gray-400">
                      ? PLN - Cena wybranego pakietu
                    </p>
                    <p class="text-xs text-gray-600 dark:text-gray-400">
                      200 PLN - Ciągły monitoring i konserwacja
                    </p>
                    <p class="text-xs text-gray-600 dark:text-gray-400">
                      100-300 PLN - Konfiguracja serwera i bezpieczeństwo
                    </p>
                    <p class="text-xs text-gray-600 dark:text-gray-400">
                      50-100 PLN - Raporty miesięczne
                    </p>
                  </div>
                </div>

                <ul class="flex flex-wrap mt-2 gap-1">
                  <li
                    class="text-xs uppercase py-0.5 px-1 rounded bg-black/5 dark:bg-white/20 text-black/75 dark:text-white/75"
                  >
                    NOWOŚĆ
                  </li>
                </ul>
              </div>
            </div>

            <!-- Checkout Offerts -->
            <a
              href="https://skillhost.pl/dostepne-serwery"
              target="_blank"
              class="group p-4 gap-3 flex items-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
            >
              <span
                class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center transition-color duration-300"
              >
                Zobacz dostępne serwery <small>(SkillHost.pl)</small>
              </span>
            </a>
          </div>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv margin_bottom="50" isAnimated={true}>
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p
              id="local_services"
              class="font-semibold text-black dark:text-white"
            >
              Lokalne Usługi
            </p>
          </div>
          <div class="space-y-4 transition-all duration-300 ease-in-out">
            <!-- LOCAL 3D PRINT Plan -->
            <div class="animate">
              <div
                class="gray-shine group h-auto p-4 gap-3 flex flex-col items-start border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out relative"
              >
                <div
                  class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white blend"
                >
                  <div class="flex flex-wrap items-center gap-2">
                    <div
                      class="text-sm capitalize px-3 py-1 rounded-full border border-black/15 dark:border-white/25"
                    >
                      🖨️ 3D Printing
                    </div>
                  </div>
                  <div
                    class="font-semibold mt-3 mb-3 text-black dark:text-white"
                  >
                    ⚙️ Średnie Wydruki 3D
                  </div>
                  <div class="text-sm">
                    Potrzebujesz wydrukować coś w 3D lub stworzyć model? <br />
                    Różnolite materiały (PLA, PETG, TPU, PVA), precyzyjne wydruki
                    i szybka realizacja z możliwością projektowania modeli na zamówienie.

                    <div class="flex flex-col items-start mt-3 gap-1">
                      <div class="flex items-center gap-2">
                        <i class="ph ph-arrows-out text-xl"></i>
                        <span>
                          Max <strong>250 x 250 x 250 mm³</strong>
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <i class="ph ph-paint-bucket text-xl"></i>
                        <span>
                          Wielomateriałowe <strong>Wydruki</strong>
                          <small> (AMS)</small>
                        </span>
                      </div>

                      <div class="flex items-center gap-2">
                        <i class="ph ph-truck text-xl"></i>
                        <span>
                          Szybka Dostawa <small>(InPost)</small> i <strong
                            >Realizacja</strong>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="flex items-stretch mt-4 mb-4">
                    <!-- Vertical line -->
                    <div
                      class="mr-3 rounded-full bg-black/15 dark:bg-white/20 w-1"
                    >
                    </div>

                    <!-- Content -->
                    <div class="font-semibold text-black dark:text-white">
                      <span class="text-2xl">Do Uzgodnienia</span>
                      <p class="text-sm text-gray-600 dark:text-gray-400 mt-2">
                        Breakdown:
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        ? PLN - Typ i zakres wydruku
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        0.50-1.50 PLN / g - Standardowa stawka za gram
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        20-50 PLN - Koszt wysyłki (w zależności od wagi i
                        rozmiaru)
                      </p>
                      <p class="text-xs text-gray-600 dark:text-gray-400">
                        50-100 PLN - Koszt projektowania modelu na zamówienie
                      </p>
                    </div>
                  </div>

                  <ul class="flex flex-wrap mt-2 gap-1">
                    <li
                      class="text-xs uppercase py-0.5 px-1 rounded bg-black/5 dark:bg-white/20 text-black/75 dark:text-white/75"
                    >
                      NOWOŚĆ
                    </li>
                    <li
                      class="text-xs uppercase py-0.5 px-1 rounded bg-yellow-800/5 dark:bg-yellow-300/20 text-yellow-900/75 dark:text-yellow-200/75"
                    >
                      LOKALNE - TYLKO W LIMANOWEJ
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- Checkout Offerts -->
            <!-- <a
              href="https://skillhost.pl/dostepne-serwery"
              target="_blank"
              class="group p-4 gap-3 flex items-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
            >
              <span
                class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center"
              >
                Zobacz dostępne serwery <small>(SkillHost.pl)</small>
              </span>
            </a> -->
          </div>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv margin_bottom="50" isAnimated={true} theme="lite">
      <!-- Using solid bg theme for this one -->
      <Carousel />
      <script is:inline defer src="/js/carousel.js"></script>
    </FancyDiv>
  </div>
  <!-- </div> -->

  <TimeLine />

  <!-- Important notes -->
  <section class="relative bg-white dark:bg-black">
    <div class="animate mx-auto max-w-screen-sm p-5 space-y-24 pb-16 mt-8">
      <article>
        <p
          class="text-xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white mb-2"
        >
          FAQ
        </p>

        <Accordion
          title="Co jest wliczone w cenę?"
          details="Podana cena obejmuje wszystkie prace projektowe i rozwojowe opisane w opisie pakietu. Hosting i rejestracja domeny są wliczone w cenę."
        />
        <Accordion
          title="Czy są jakieś ukryte koszty?"
          details="Brak ukrytych opłat. Wszystkie koszty są komunikowane z góry, a wszelkie dodatkowe prace zostaną wycenione do zatwierdzenia."
        />
        <Accordion
          title="Czy pakiety można personalizować?"
          details="Tak, pakiety mogą być dostosowane do konkretnych potrzeb. Skontaktuj się ze mną, aby uzyskać spersonalizowaną wycenę."
        />
        <Accordion
          title="Które metody płatności są wspierane?"
          details="Płatności można dokonać za pośrednictwem przelewu lub PayPal."
        />
        <Accordion
          title="Czy oferujesz wsparcie po zakończeniu projektu?"
          details="Tak, oferuję wsparcie i konserwację po zakończeniu projektu. Możemy ustalić szczegóły w zależności od Twoich potrzeb."
        />
        <Accordion
          title="Jak długo trwa realizacja projektu?"
          details="Czas realizacji zależy od zakresu projektu. Standardowy czas realizacji to 1-2 tygodnie, ale może się różnić w zależności od specyfikacji."
        />
        <Accordion
          title="Czy mogę zmienić pakiet po rozpoczęciu projektu?"
          details="Tak, możesz zmienić pakiet w trakcie realizacji projektu. Skontaktuj się ze mną, aby omówić szczegóły."
        />
        <Accordion
          title="Czy mogę anulować projekt po jego rozpoczęciu?"
          details="Tak, możesz anulować projekt w dowolnym momencie. W takim przypadku naliczona zostanie opłata za wykonane prace do momentu anulowania."
        />
        <Accordion
          title="Czy oferujesz gwarancję satysfakcji?"
          details="Tak, oferuję gwarancję satysfakcji. Jeśli nie jesteś zadowolony z końcowego produktu, skontaktuj się ze mną, a postaramy się znaleźć rozwiązanie."
        />
      </article>
    </div>
  </section>

  <!-- Ending -->
  <div
    class="animate p-5 text-center min-h-[600px] flex items-center justify-center"
  >
    <div class="relative flex flex-col items-center justify-center w-full">
      <p
        id="touch-tite"
        class="text-xl md:text-2xl lg:text-5xl font-bold uppercase text-black dark:text-white"
      >
        Bądźmy w kontakcie.
      </p>

      <!-- Buttons -->
      <div
        class="flex flex-col sm:flex-row items-center justify-center gap-3 mt-4 w-full max-w-xs sm:max-w-none"
      >
        <!-- Fiverr -->
        <a
          href="https://www.fiverr.com/s/xXEvD2l"
          target="_blank"
          class="backdrop-blur-sm group w-40 p-4 gap-3 flex items-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
        >
          <span
            class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center transition-color duration-300"
          >
            Fiverr
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white z-10"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
            ></polyline>
          </svg>
        </a>

        <!-- Facebook -->
        <a
          href="https://www.facebook.com/maciek.fraczek.965"
          target="_blank"
          class="backdrop-blur-sm group w-40 p-4 gap-3 flex items-center border rounded-lg hover:scale-105 hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
        >
          <span
            class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center transition-color duration-300"
          >
            Facebook
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-current group-hover:stroke-black group-hover:dark:stroke-white z-10"
          >
            <line
              x1="5"
              y1="12"
              x2="19"
              y2="12"
              class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
            ></line>
            <polyline
              points="12 5 19 12 12 19"
              class="translate-x-0 group-hover:translate-x-1 transition-all duration-300 ease-in-out"
            ></polyline>
          </svg>
        </a>
      </div>
    </div>
  </div>
</PageLayout>
