---
import "@styles/wall_styling.css";
import { getCollection, render } from "astro:content";

const desk_textdocuments = await getCollection("desktop_text_files");
const renderedDocs = await Promise.all(
  desk_textdocuments.map(async (doc) => {
    const { Content } = await render(doc);
    return { ...doc, Content };
  }),
);
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SysAdmin</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css" />
    <link rel="preconnect" href="https://challenges.cloudflare.com" />

    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer></script>
  </head>
  <body>
    <!-- Interaction grabber -->
    <div
      id="first_interaction_grabber"
      style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; 
            background: rgb(0, 0, 0); z-index: 800; 
            display: flex; align-items: center; justify-content: center;"
    >
      <div
        class="window"
        data-not-moveable="true"
        style="position: relative; width: 300px;"
      >
        <div class="title-bar">
          <div class="title-bar-text" data-i18n="intro_title">Hello World!</div>
        </div>
        <div class="window-body" style="text-align: center;">
          <p data-i18n="intro_line1">Welcome to my silly place!</p>
          <p data-i18n="intro_line2">Still work in progress - but whatever!</p>
          <section class="field-row" style="justify-content: center;">
            <button id="start_button" style="width: 80px;">OK</button>
          </section>
        </div>
      </div>
    </div>

    <!-- Guest Book -->
    <div class="window win_anim" id="win-guestbook">
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="guestbook_title">Guest book</div>
        <div class="title-bar-controls">
          <button aria-label="Close" class="close" data-redirect="true"
          ></button>
        </div>
      </div>
      <div class="window-body">
        <div class="marquee-container">
          <marquee scrollamount="3" data-i18n="guestbook_marquee"
            >Leave a random message! ( Global )</marquee
          >
        </div>
        <fieldset>
          <legend data-i18n="guestbook_messageheader">Write a Message:</legend>
          <div class="field-row-stacked">
            <label for="nickname" data-i18n="guestbook_field_nickname"
              >Your nickname:</label
            >
            <input id="nickname" type="text" autocomplete="off" />
          </div>
          <div class="field-row-stacked">
            <label for="message" data-i18n="guestbook_field_message"
              >Message:</label
            >
            <textarea id="message" rows="3"></textarea>
          </div>
          <button
            id="sendBtn"
            style="margin-top: 10px;"
            data-i18n="guestbook_field_send">Send</button
          >
        </fieldset>
        <ul class="tree-view chat-log">
          <li><strong>System: </strong>Waiting...</li>
        </ul>
      </div>
      <audio id="intro_sound" src="/win98.ogv"></audio>
      <audio id="notify" src="/you_got_mail.ogg"></audio>
    </div>

    <!-- Active Users -->
    <div class="window win_anim" style="height: 160px" id="win-activeusers">
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="activeusers_title">
          Active Users
        </div>
      </div>
      <div
        class="sunken-panel"
        style="height: 100%; width: 100%; margin-top: 2px;"
      >
        <table style="width: 100%;" id="ActiveUsersTable">
          <thead>
            <tr>
              <th data-i18n="activeusers_th_name">Name</th>
              <th data-i18n="activeusers_th_status">Status</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
      <p class="status-bar-field">
        <span data-i18n="activeusers_status">Active Users: </span>
        <strong id="activeConnections">0</strong>
      </p>
    </div>

    <!-- LoFi Radio -->
    <div
      class="window win_anim"
      id="win-radio"
      style="top: 120px; left: 400px;"
    >
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="lofiradio_title">Lofi Radio</div>
        <div class="title-bar-controls">
          <button aria-label="Close" class="close"></button>
        </div>
      </div>
      <div class="window-body" style="padding: 0; background: black;">
        <iframe
          id="ytPlayer"
          height="200"
          src="https://www.youtube.com/embed/jfKfPfyJRdk?enablejsapi=1&controls=0&modestbranding=1&rel=0"
          allow="autoplay"
          style="pointer-events: none;"
        >
        </iframe>
      </div>
    </div>

    <!-- Paint -->
    <div
      class="window win_anim"
      id="win-paint"
      style="width: auto; display: inline-block;"
    >
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="paint_title">Paint</div>
        <div class="title-bar-controls">
          <button aria-label="Close" class="close"></button>
        </div>
      </div>

      <div
        class="window-body"
        style="margin: 0; display: flex; flex-direction: column;"
      >
        <div
          id="canvasStage"
          style="position: relative; line-height: 0; overflow-x: auto; width: 100%; margin-top: 2px;"
        >
          <img
            id="canvasLoader"
            src="/bsdos.png"
            alt="Canvas Loader"
            style="display: none; position: absolute; top: 0; left: 0; width: 504px; height: 304px; pointer-events: none; z-index: 2; image-rendering: pixelated;"
          />
          <img
            id="staticCanvas"
            src=""
            alt="Canvas Background"
            style="position: absolute; top: 0; left: 0; width: 504px; height: 304px; pointer-events: none; background-color: #ffffff; z-index: -1; image-rendering: pixelated;"
          />
          <canvas
            id="paintCanvas"
            width="500"
            height="300"
            style="background: transparent; cursor: crosshair; display: block; width: 504px; height: 304px;"
          ></canvas>
        </div>
      </div>

      <div
        style="display: flex; flex-direction: row; align-items: center; padding: 5px; border-top: 1px solid #808080; gap: 15px;"
      >
        <div class="field-row" style="margin: 0;">
          <label style="font-size: 10px;" data-i18n="paint_color">Color:</label>
          <input
            id="colorInput"
            type="color"
            value="#000000"
            style="width: 30px; height: 30px;"
          />
        </div>

        <div class="field-row" style="margin: 0; flex-grow: 1;">
          <label
            for="brushSize"
            style="font-size: 10px;"
            data-i18n="paint_brushsize">Size:</label
          >
          <input
            id="brushSize"
            type="range"
            min="1"
            max="20"
            value="5"
            style="width: 100px;"
          />
        </div>

        <div
          class="sizeBrushPreview"
          style="width: 30px; height: 30px; display: flex; align-items: center; justify-content: center; border: 2px inset #ffffff; background: white;"
        >
          <div
            id="sizePreview"
            style="background: black; border-radius: 50%; width: 5px; height: 5px;"
          >
          </div>
        </div>

        <div class="status-bar" style="flex-grow: 1; height: 20px;">
          <p
            class="status-bar-field"
            id="coords"
            style="width: 80px; margin: 0;text-align: center;"
          >
            0, 0
          </p>
          <p
            class="status-bar-field"
            style="width: 60px; margin: 0; text-align: center;"
          >
            <span id="brushDisplay">5</span>px
          </p>
        </div>
      </div>
    </div>

    <!-- Links -->
    <div
      class="window win_anim"
      style="width: 120px; display: inline-block;"
      id="win-links"
    >
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="links_title">Links</div>
        <div class="title-bar-controls">
          <button aria-label="Close" class="close"></button>
        </div>
      </div>

      <div
        class="window-body"
        style="margin: 0; display: flex; flex-direction: column; align-items: center; padding: 10px; gap: 8px;"
      >
        <a href="https://bartkk.xyz" target="_blank">
          <img
            src="https://bartkk.xyz/img/buttons/button-zack.gif"
            alt="Zack The Raccoon"
            style="display: block;"
          />
        </a>
      </div>
      <div class="status-bar">
        <p class="status-bar-field" data-i18n="links_status">
          Other silly stuff
        </p>
      </div>
    </div>

    <!-- Language -->
    <div
      class="window win_anim"
      style="width: 120px; display: inline-block;"
      id="win-language"
    >
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="language_title">Lagunage</div>
      </div>

      <div
        class="window-body"
        style="margin: 0; display: flex; flex-direction: column; align-items: center; padding: 10px; gap: 8px;"
      >
        <p style="margin: 0;" data-i18n="language_select_lang">
          Select language:
        </p>
        <select>
          <option value="en">English</option>
          <option value="pl">Polski</option>
          <option value="fr">Francais</option>
        </select>
      </div>
    </div>

    <!-- Link Me -->
    <div class="window win_anim" id="win-linkme" style="width: 250px;">
      <div class="title-bar">
        <div class="title-bar-text" data-i18n="linkme_title">Link Me</div>
        <div class="title-bar-controls">
          <button aria-label="Close" class="close"></button>
        </div>
      </div>

      <div
        class="window-body"
        style="display: flex; flex-direction: column; align-items: center; gap: 12px; margin: 8px;"
      >
        <div style="padding: 10px; display: flex; justify-content: center;">
          <a href="https://nikostuff.com/root" target="_blank">
            <img
              src="/NikoButton.gif"
              alt="Niko's Stuff"
              style="display: block; border: 1px solid #000;"
            />
          </a>
        </div>

        <div class="field-row-stacked" style="width: 100%;">
          <label
            for="code-copy"
            style="font-size: 11px;"
            data-i18n="linkme_copyme">Copy this code to your site:</label
          >
          <textarea
            id="code-copy"
            readonly
            onclick="this.select()"
            style="
              width: 100%;
              font-size: 11px; 
              resize: none; 
            "
            >&lt;a href="https://nikostuff.com/root" target="_blank"&gt;&lt;img
            src="/NikoButton.gif" alt="Niko's Stuff" /&gt;&lt;/a&gt;</textarea
          >
        </div>
      </div>
    </div>

    <!-- Auto add .mdx -> .txt stuff -->
    {
      renderedDocs.map(({ data, Content }) => (
        <div
          class="window win_anim keep_on_mobile"
          id={`win-${data.title}`}
          style="width: 850px; height: 400px; display: flex; flex-direction: column;"
        >
          <div class="title-bar">
            <div class="title-bar-text">Notepad - {data.title}</div>
            <div class="title-bar-controls">
              <button aria-label="Close" class="soft_close" />
            </div>
          </div>

          <div
            class="menu-bar"
            style="display: flex; padding: 2px;"
          >
            <span class="menu-item">File</span>
            <span class="menu-item">Edit</span>
            <span class="menu-item">Search</span>
            <span class="menu-item">Help</span>
          </div>

          <div
            class="window-body"
            style="flex-grow: 1; display: flex; flex-direction: column; min-height: 0; margin: 2px;"
          >
            <div
              class="field-border"
              style="flex-grow: 1; overflow-y: scroll; background: white; padding: 8px; padding-top: 0px; min-height: 0;"
            >
              {/* Content will now scroll inside here */}
              <Content />
            </div>
          </div>
        </div>
      ))
    }
  </body>
  <!-- Icons on the desktop -->
  <div class="desktop-icons">
    <!-- Auto add .mdx -> .txt stuff -->
    {
      desk_textdocuments.map((text_document) => (
        <div
          class="desktop-icon"
          id={`icon-${text_document.data.title}`}
          data-opens={`win-${text_document.data.title}`}
        >
          <img
            src="https://win98icons.alexmeub.com/icons/png/notepad_file-0.png"
            alt="Shortcut"
          />
          <span class="icon-label">{text_document.data.title}</span>
        </div>
      ))
    }
  </div>

  <!-- Taskbar -->
  <div class="taskbar">
    <div class="taskbar-left-section"></div>

    <div class="status-bar tray">
      <img
        src="https://win98icons.alexmeub.com/icons/png/network_normal_two_pcs-3.png"
        width="16"
        alt="net"
      />
      <div id="wsStatsTaskbar" class="tray-stats">
        <span id="stat-rate">0/s</span>
        <span class="stat-divider">|</span>
        <span id="stat-in">0.00KB</span>
        <span class="stat-divider">|</span>
        <span id="stat-out">0.00KB</span>
      </div>
      <div id="tray-clock">12:00 PM</div>
    </div>
  </div>

  <!-- CF -->
  <div
    class="cf-turnstile"
    data-sitekey="0x4AAAAAACBNatxTQCTb20u7"
    data-size="normal"
    data-theme="dark"
    data-callback="onSuccess"
  >
  </div>
</html>

<script src="src/win98/websocket.ts"></script>
<script src="src/win98/windows_manager.ts"></script>
<script src="src/win98/lang_swapper.ts"></script>
<script src="src/win98/desktop_logic.ts"></script>
