---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import Workshop_c from "@components/nnb/Workshop"
import { NNB_WORKSHOP } from "@consts"

const posts = (await getCollection("nnb_workshop"))
    .filter(post => !post.data.draft)
    //.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())

const tags = [...new Set(posts.flatMap(post => post.data.tags))]
    .sort((a, b) => a.localeCompare(b))
---

<PageLayout title={NNB_WORKSHOP.TITLE} description={NNB_WORKSHOP.DESCRIPTION}>
    <TopLayout>
        <div class="animate page-heading">
            {NNB_WORKSHOP.TITLE}
        </div>
    </TopLayout>
    <BottomLayout>
        <div class="animate">
            <Workshop_c client:load tags={tags} data={posts} />
        </div>
    </BottomLayout>














</PageLayout>




