---
import PageLayout from "@layouts/PageLayout.astro";
import { HOSTING } from "@consts";
import MeteorShower from "@components/MeteorShower.astro";
import TwinklingStars from "@components/TwinklingStars.astro";
import BackgroundFX from "@components/page_effects/BackgroundFX.astro";
import POD from "@components/POD.astro";
import DynamicTitle from "@components/TitleHeader.astro";
import FancyDiv from "@components/FancyDiv.astro";
import Accordion from "@components/Accordion.astro";
import Calculator from "@components/Hosting_Calc.astro";
import ExtendService from "@components/ExtendService.astro";

import { Image } from "astro:assets";

import Image1 from "@assets/hosting/pay_only_for_usage.png";
import Image2 from "@assets/hosting/perfect_panel.png";
import Image3 from "@assets/hosting/power_that_delivers.png";
import Image4 from "@assets/hosting/what_are_ya_waiting.png";
---

<PageLayout title="Hosting" description={HOSTING.DESCRIPTION}>
  <!-- <script is:inline data-astro-rerun async src="/js/scroll_animation.js"
  ></script> -->

  <POD />
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <!-- <script is:inline defer src="/js/bg.js"></script> -->
  <BackgroundFX />
  <!-- HERO -->
  <section
    id="hero_fade"
    class="snap-center grid w-full h-svh place-items-center relative text-center overflow-hidden transition-all"
  >
    <!-- <div id="planetcont" class='animate absolute inset-0 top-3/4 overflow-hidden z-10'> PLANET HAS BEEN REMOVED FOR A TEST NEW LAYOUT 
            <div id="crescent"
                 class='absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%'>
                <div id="planet"
                     class='w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center'>
                    <div id="blur" class='w-full h-5 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-2xl'/>
                </div>
            </div>
        </div> -->
    <DynamicTitle
      text="HOSTING"
      sub="Minimalizm, który działa."
      buttons={false}
      typewriter={false}
    />
  </section>

  <!-- Blocker when we place an order -->
  <div
    hidden
    id="order_blocker"
    class="fixed inset-0 bg-black/50 dark:bg-black/70 z-50 flex items-center justify-center backdrop-blur-2xl"
  >
    <div
      data-cursor-hover="true"
      data-cursor-parallax="true"
      class="border border-black/15 dark:border-white/20 bg-white dark:bg-black rounded-lg p-6 flex flex-col items-center"
    >
      <svg
        class="animate-spin h-12 w-12 mr-3 fill-black dark:fill-white"
        viewBox="0 -960 960 960"
      >
        <path
          d="M479.98-116q-74.81 0-141.26-27.84-66.44-27.84-116.74-78.14t-78.14-116.69Q116-405.06 116-480.15q0-75.09 28-141.47T222-738q50-50 116.6-78 66.59-28 141.4-28 7.93 0 12.96 4.77 5.04 4.78 5.04 12.58 0 7.81-5.04 12.73Q487.93-809 480-809q-136.75 0-232.88 96.17-96.12 96.18-96.12 233Q151-343 247.17-247q96.18 96 233 96Q617-151 713-247.12q96-96.13 96-232.88 0-7.98 4.96-12.99 4.95-5.01 12.76-5.01t12.54 5.04Q844-487.93 844-480q0 74.81-28 141.4Q788-272 738-222t-116.6 78q-66.61 28-141.42 28Z"
        ></path>
      </svg>
      <h2 class="text-lg font-semibold mb-2">Przetwarzanie zamówienia...</h2>
      <p class="text-sm text-muted text-center mb-5">
        Proszę czekać, nie odświeżaj ani nie zamykaj tej strony.
      </p>

      <p id="order_activity" class="text-xs">Oczekiwanie na odpowiedź...</p>
    </div>
  </div>

  <div class="relative">
    <FancyDiv isAnimated={true} theme="default_big" margin_bottom="50">
      <section
        class="relative flex items-center justify-center h-72 overflow-hidden"
      >
        <!-- Background Image -->
        <Image
          src={Image1}
          alt="Hosting - Idealny Panel, Specjalny dla Ciebie"
          class="absolute inset-0 w-full h-full object-cover z-10 rounded-2xl invert-100 dark:invert-0 brightness-50"
          loading="lazy"
        />

        <!-- Gradient overlay -->
        <div
          class="absolute inset-0 z-20 pointer-events-none bg-linear-to-r dark:from-black/80 from-white/80 to-transparent rounded-2xl backdrop-blur-[2px]"
        >
        </div>

        <!-- Content (vertically centered) -->
        <div class="relative z-30 text-center px-6 animate">
          <p
            class="font-bold text-3xl dark:bg-linear-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text dark:text-transparent"
          >
            Płacisz Tylko za To, Co Używasz
          </p>
          <p class="mt-2 max-w-2xl">
            Twój serwer, Twoje zasoby. Wybierz dokładnie tyle CPU, RAM i SSD,
            ile potrzebujesz. Żadnego płacenia za zasoby, których nie
            wykorzystasz. U nas to Ty decydujesz o cenie.
          </p>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv isAnimated={true} theme="default_big" margin_bottom="50">
      <section
        class="relative flex items-center justify-center h-72 overflow-hidden"
      >
        <!-- Background Image -->
        <Image
          src={Image2}
          alt="Hosting - Idealny Panel, Specjalny dla Ciebie"
          class="absolute inset-0 w-full h-full object-cover z-10 rounded-2xl invert-100 dark:invert-0 brightness-50"
          loading="lazy"
        />

        <!-- Gradient overlay -->
        <div
          class="absolute inset-0 z-20 pointer-events-none bg-linear-to-r dark:from-black/80 from-white/80 to-transparent rounded-2xl backdrop-blur-[2px]"
        >
        </div>

        <!-- Content (vertically centered) -->
        <div class="relative z-30 text-center px-6 animate">
          <p
            class="font-bold text-3xl dark:bg-linear-to-r from-amber-500 via-red-500 to-pink-500 bg-clip-text dark:text-transparent"
          >
            Idealny Panel, Specjalny dla Ciebie
          </p>
          <p class="mt-2 max-w-2xl">
            Korzystamy z nowoczesnego i szybszego panelu <strong
              >Pelican Panel</strong
            >. Trzymamy się <strong>zasady prostoty</strong>, dzięki czemu
            system jest <strong>lżejszy i bezpieczniejszy</strong> niż tradycyjne
            rozwiązania. Otrzymujesz tylko to, co jest Ci potrzebne.
          </p>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv isAnimated={true} theme="default_big" margin_bottom="50">
      <section
        class="relative flex items-center justify-center h-72 overflow-hidden"
      >
        <!-- Background Image -->
        <Image
          src={Image3}
          alt="Hosting - Moc, Która Nie Zawodzi"
          class="absolute inset-0 w-full h-full object-cover z-10 rounded-2xl invert-100 dark:invert-0 brightness-50"
          loading="lazy"
        />

        <!-- Gradient overlay: left opaque -> right transparent -->
        <div
          class="absolute inset-0 z-20 pointer-events-none bg-linear-to-r dark:from-black/80 from-white/80 to-transparent rounded-2xl backdrop-blur-[2px]"
        >
        </div>

        <!-- Content (vertically centered) -->
        <div class="relative z-30 text-center px-6 animate">
          <p
            class="font-bold text-3xl dark:bg-linear-to-r from-purple-500 via-blue-500 to-green-500 bg-clip-text dark:text-transparent"
          >
            Moc, Która Nie Zawodzi
          </p>
          <p class="mt-2 max-w-2xl">
            Stabilne i najniższe pingi dzięki dedykowanemu sprzętowi nowej
            generacji. Korzystamy z wysokotaktowanych procesorów <strong
              >AMD Ryzen™ 7 PRO 8700GE</strong
            >, a już wkrótce udostępnimy ultra-wydajne <strong
              >AMD Ryzen™ 9 7950X3D</strong
            >.
          </p>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv isAnimated={true} theme="default_big" margin_bottom="50">
      <section
        class="relative flex items-center justify-center h-72 overflow-hidden"
      >
        <!-- Background Image -->
        <Image
          src={Image4}
          alt="Hosting - Na Co Czekasz?"
          class="absolute inset-0 w-full h-full object-cover z-10 rounded-2xl invert-100 dark:invert-0 brightness-50"
          loading="lazy"
        />

        <!-- Gradient overlay -->
        <div
          class="absolute inset-0 z-20 pointer-events-none bg-linear-to-r dark:from-black/80 from-white/80 to-transparent rounded-2xl backdrop-blur-[2px]"
        >
        </div>

        <!-- Content -->
        <div class="relative z-30 text-center px-6 animate">
          <p
            class="font-bold text-3xl dark:bg-linear-to-r from-pink-500 via-red-500 to-orange-500 bg-clip-text dark:text-transparent"
          >
            Na Co Czekasz?
          </p>
          <p class="mt-2 max-w-2xl">
            Uruchom swój serwer dosłownie w kilka sekund. Zero konfiguracji,
            zero stresu — tylko czysta, stabilna wydajność. Zaczynasz kiedy
            chcesz, płacisz tylko za to, czego używasz. To Twoja chwila — wejdź
            i zacznij grać po swojemu.
          </p>
        </div>
      </section>
    </FancyDiv>

    <FancyDiv isAnimated={true} theme="default_big" margin_bottom="50">
      <section class="relative animate">
        <p
          class="text-xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white animate"
        >
          Centrum Akcji
        </p>
        <p class="font-bold text-sm mb-2 animate">
          Prosty mini panel do kupna / odnawiania usług.
        </p>

        <Calculator />

        <!-- Line -->
        <hr class="border-black/10 dark:border-white/25 animate my-5" />

        <p
          class="text-xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white animate"
        >
          Coś wpadło w oko?
        </p>
        <p class="font-bold text-sm mb-2 animate">
          Plany postawienia oryginalnego hostingu były już w planach od dawna.
          Jeśli myślisz że pokazane wyżej ofery jak i cały koncept są
          interesujące, daj nam znać że jesteś Zainteresowany/na! To nic nie
          kosztuje, a pomoże nam to w podjęciu decyzji o uruchomieniu usługi.
        </p>

        <div class="animate">
          <a
            id="place_order_btn"
            href="https://forms.gle/M6DXeg3NzyFWBsn17"
            target="_blank"
            class="group w-full p-4 mt-5 gap-3 flex items-center border rounded-lg hover:bg-black/5 hover:dark:bg-white/10 border-black/15 dark:border-white/20 transition-all duration-300 ease-in-out"
          >
            <span
              class="w-full z-10 relative group-hover:text-black group-hover:dark:text-white text-center transition-color duration-300"
            >
              Wypełnij Formularz Zainteresowania
            </span>
          </a>
        </div>

        <!-- Line -->
        <!-- <hr class="border-black/10 dark:border-white/25 animate my-5" /> -->

        <!-- <p
          class="text-xl md:text-2xl lg:text-3xl font-bold uppercase text-black dark:text-white animate"
        >
          Zarządzaj Swoimi Usługami
        </p>
        <p class="font-bold text-sm mb-2 animate">
          Przedłuż, modyfikuj lub anuluj swoje usługi.
        </p>

        <ExtendService /> -->
      </section>
    </FancyDiv>

    <FancyDiv isAnimated={true} theme="default_big" margin_bottom="50">
      <section class="relative animate p-4">
        <h2
          class="font-bold text-3xl mb-8 text-center text-black dark:text-white"
        >
          Najczęściej Zadawane Pytania (FAQ)
        </h2>

        <div>
          <Accordion
            title="Jak mogę zmienić pakiet?"
            details="Aby zmienić pakiet, skontaktuj się z nami — dokonamy zmiany szybko i bez żadnych problemów. Automatyczna zmiana pakietu zostanie dodana w późniejszym czasie."
          />

          <Accordion
            title="Czy mogę przenieść mój serwer z innego hostingu?"
            details="Tak, możesz przesłać pliki swojego serwera przez FTP lub menedżer plików w panelu. Jeśli potrzebujesz pomocy — możemy zrobić migrację za Ciebie bezpłatnie."
          />

          <Accordion
            title="Czy oferujecie pomoc techniczną?"
            details="Tak, nasz support odpowiada szybko i konkretnie. Pomagamy w konfiguracji, pluginach, modach i problemach z działaniem serwera — zawsze chętnie pomożemy."
          />

          <Accordion
            title="Jak działają backupy?"
            details="Backupy wykonywane są automatycznie i przechowywane na zewnętrznej, bezpiecznej infrastrukturze. Możesz przywrócić dowolny backup jednym kliknięciem."
          />

          <Accordion
            title="Czy mogę podłączyć własną domenę?"
            details="Tak — możesz podłączyć własną domenę lub subdomenę. W panelu znajdziesz instrukcję konfiguracji DNS, a jeśli coś nie działa — pomożemy."
          />

          <Accordion
            title="Czy mogę hostować modowane wersje gry?"
            details="Tak. Obsługujemy Forge, Fabric, Paper, Purpur, Modpacki, FiveM, Rust i wiele innych gier. Jeśli czegoś brakuje w panelu — możemy to dodać."
          />

          <Accordion
            title="Czy są jakieś limity na pluginy lub mody?"
            details="Nie ograniczamy liczby pluginów ani modów — możesz instalować dowolne dodatki, o ile mieszczą się w przydzielonych zasobach."
          />

          <Accordion
            title="Czy mogę przetestować serwer przed zakupem?"
            details="Tak — oferujemy darmowe serwery, na zawsze! Twój wybór nie może wtedy przekraczać 1 vCore CPU, 4 GB RAM oraz 20 GB Dysku."
          />

          <Accordion
            title="Jak mogę opłacać subskrypcję?"
            details="Do miesięcznych płatności możesz używać kart płatniczych oraz wybranych portfeli i przelewów wspieranych przez Stripe. Nie wszystkie lokalne metody, np. BLIK, działają przy subskrypcjach."
          />
        </div>
      </section>
    </FancyDiv>
  </div>
</PageLayout>
