---
import { render } from "astro:content"
import { type CollectionEntry, getCollection } from "astro:content"

type Props = {
  entry: CollectionEntry<"blog"> | CollectionEntry<"projects"> | CollectionEntry<"team">
}

const { entry } = Astro.props
const { collection } = entry
const { Content } = await render(entry)

const items = (await getCollection(collection)).filter(post => !post.data.draft)

const currentIndex = items.findIndex(x => x.id === entry.id)

const nextIndex = (currentIndex + 1) % items.length
const prevIndex = (currentIndex - 1 + items.length) % items.length

const next = items[nextIndex]
const prev = items[prevIndex]
---

<div class="space-y-12">
  <article class="prose prose-invert max-w-none">
    <Content/>
  </article>

  <hr class="border-white/10" />

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

    <a 
      href={`/${prev.collection}/${prev.id}`} 
      class="group p-5 gap-4 flex items-center border rounded-xl border-white/10 bg-neutral-900/10 hover:bg-neutral-900/40 transition-colors duration-300 ease-in-out"
    >
      <div class="shrink-0">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="18" 
          height="18" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke-width="2.5" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="stroke-neutral-500 group-hover:stroke-white rotate-180 transition-colors duration-300"
        >
          <line 
            x1="5" 
            y1="12" 
            x2="19" 
            y2="12" 
            class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-0 transition-all duration-300 ease-in-out" 
          />
          <polyline 
            points="12 5 19 12 12 19" 
            class="-translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" 
          />
        </svg>
      </div>

      <div class="w-full min-w-0 space-y-1">
        <div class="text-[10px] font-bold uppercase tracking-widest text-neutral-400">
          Poprzedni
        </div>
        <div class="font-bold text-base text-white tracking-tight truncate">
          {prev.data.title}
        </div>
      </div>
    </a>

    <a 
      href={`/${next.collection}/${next.id}`} 
      class="group p-5 gap-4 flex items-center justify-between border rounded-xl border-white/10 bg-neutral-900/10 hover:bg-neutral-900/40 transition-colors duration-300 ease-in-out"
    >
      <div class="w-full min-w-0 space-y-1">
        <div class="text-[10px] font-bold uppercase tracking-widest text-neutral-400">
          Następny
        </div>
        <div class="font-bold text-base text-white tracking-tight truncate">
          {next.data.title}
        </div>
      </div>

      <div class="shrink-0">
        <svg 
          xmlns="http://www.w3.org/2000/svg" 
          width="18" 
          height="18" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke-width="2.5" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="stroke-neutral-500 group-hover:stroke-white transition-colors duration-300"
        >
          <line 
            x1="5" 
            y1="12" 
            x2="19" 
            y2="12" 
            class="scale-x-0 group-hover:scale-x-100 translate-x-4 group-hover:translate-x-0 transition-all duration-300 ease-in-out" 
          />
          <polyline 
            points="12 5 19 12 12 19" 
            class="-translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" 
          />
        </svg>
      </div>
    </a>

  </div>
</div>