---
import type { CollectionEntry } from "astro:content";
import { formatDate, readingTime } from "@lib/utils";

type Props = {
  entry: CollectionEntry<"projects"> | CollectionEntry<"blog">;
};

const { entry } = Astro.props;
const { collection, data, body } = entry;
const { title, summary, date } = data;

const demoUrl = collection === "projects" ? data.demoUrl : null;
const repoUrl = collection === "projects" ? data.repoUrl : null;

const imageUrl = collection === "projects" ? data.imageUrl : null;
---

<div class="space-y-6">
  <a
    href={`/${collection}`}
    class="group w-fit px-3 py-1.5 gap-2 text-xs font-medium uppercase tracking-wider flex items-center border rounded-lg border-white/10 bg-neutral-900/20 hover:bg-white/10 transition-colors duration-300 ease-in-out text-neutral-400 hover:text-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke-width="2.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="stroke-current transition-transform duration-300 group-hover:-translate-x-0.5"
    >
      <line
        x1="19"
        y1="12"
        x2="5"
        y2="12"
        class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
      ></line>
      <polyline
        points="12 19 5 12 12 5"
        class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out"
      ></polyline>
    </svg>
    <span class="pt-px">Wróć</span>
  </a>

  <div
    class="flex flex-wrap text-xs uppercase tracking-widest font-medium text-neutral-400 gap-4 pt-4"
  >
    <div class="flex items-center gap-1.5">
      <i class="ph ph-calendar-blank text-lg"></i>
      <span>{date ? formatDate(date) : "Brak daty"}</span>
    </div>
    <div class="flex items-center gap-1.5">
      <i class="ph ph-book-open-text text-lg"></i>
      <span>{body ? readingTime(body) : "0 min"}</span>
    </div>
  </div>

  <div class="space-y-2">
    <h1
      class="text-3xl md:text-4xl font-extrabold text-white tracking-tight leading-tight"
    >
      {title}
    </h1>
    <p
      class="text-base text-neutral-400 leading-relaxed max-w-2xl"
    >
      {summary}
    </p>
  </div>

  {
    (demoUrl || repoUrl) && (
      <div class="flex flex-wrap gap-2 pt-2">
        {demoUrl && (
          <a
            href={demoUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="group flex gap-2 items-center px-4 py-2 rounded-lg text-xs font-semibold uppercase tracking-wider border border-white/10 bg-neutral-900/20 hover:bg-white/10 text-neutral-400 hover:text-white transition-colors duration-200"
          >
            <i class="ph ph-globe text-lg" />
            <span>Zobacz Stronę</span>
          </a>
        )}
        {repoUrl && (
          <a
            href={repoUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="group flex gap-2 items-center px-4 py-2 rounded-lg text-xs font-semibold uppercase tracking-wider border border-white/10 bg-neutral-900/20 hover:bg-white/10 text-neutral-400 hover:text-white transition-colors duration-200"
          >
            <i class="ph ph-link text-lg" />
            <span>Repozytorium</span>
          </a>
        )}
      </div>
    )
  }
</div>

{
  imageUrl && (
    <div class="group mt-10 relative overflow-hidden rounded-xl border border-white/10 h-95 bg-neutral-900">
      <img
        src={imageUrl}
        alt={title}
        class="object-cover h-full w-full rounded-xl brightness-[0.5] group-hover:brightness-[0.65] transition-all duration-500 ease-out"
        decoding="async"
        loading="eager"
      />
      <div class="absolute inset-0 bg-linear-to-t from-neutral-950/20 to-transparent pointer-events-none" />
    </div>
  )
}